
    section{
      position: relative;
    }

    .navbar_ruton {
      width: 100%;
      min-height: 141px;
      display: flex;
      position: fixed;
      padding-left: 9vw;
      padding-right: 9vw;
      z-index: 200;
      background-color: white;
      box-shadow: 0px 10px 13px -15px #000000;
    }

    .navbar_section {
      display: flex;
      width: 50%;
      min-height: 141px;
      background-color: white;
    }

    .navbar_spacer {
      width: 100%;
      height: 160px;
    }

    .navbar_list {
      display: flex;
      align-items: center;
      overflow-y: hidden;
      width: 100%;
    }

    .navbar_list p {
      position: relative;
      opacity: 1;
      padding: 0px 14px 0px 14px;
      font-weight: 600;
    }

    p .subpage_link {
      text-decoration: none;
      letter-spacing: 0px;
      color: black;
      text-transform: uppercase;
      transition: 0.5s;
      font-size: 0.84vw
    }

    .navbar_list p:hover>.subpage_link {
      color: #2B2171;
    }

    .navbar_list p:hover>.subpage_line {
      border-bottom: 3px solid #2B2171;
      width: 83%;
      opacity: 1.0;
    }

    .subpage_line {
      position: absolute;
      transition: 0.5s;
      width: 0%;
      opacity: 0.0;
      border-bottom: 3px solid black;
      bottom: 0%;
      left: 8%;
    }

    .navbar_toggler {
      opacity: 0.8;
      width: 48px;
      height: 48px;
      background: none;
      border-radius: 8px;
      border: none;
      transition: 0.3s;
      border-color: white;
    }

    .navbar_toggler:focus {
      border: 4px solid black;
    }

    .navbar_bars {
      width: 26px;
      height: 26px;
    }

    .navbar_logo {
      display: flex;
      align-items: center;
      width: 90%;
      height: 70px;
      margin-right: 12px;
    }

    .navbar_logo img {
      max-height: 100%;
    }

    .btn_ruton {
      min-width: 260px;
      max-width: 282px;
      height: 43px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 18px;
      padding: 0px 35px 0px 35px;
      border: none;
      border-radius: 25px;
      font-family: 'Montserrat', sans-serif;
      background-color: #FDAF2A;
      transition: 0.4s;
      margin-left: 0px;
    }

    .btn_ruton:hover {
      color: white;
      padding: 0px 42px 0px 42px;
      margin-left: -7px;
    }

    .mask {
      background-color: white;
      mix-blend-mode: screen;
      position: relative;
      min-height: 100%;
      width: 100%;
    }

    .white-bg {
      height: 100%;
      width: 50%;
      position: absolute;
      mix-blend-mode: difference;
      top: 0;
      background-color: white;
    }

    .Slides {
      display: flex;
      background-size: 75% 100%;
      background-position: left;
      background-repeat: repeat-x;
    }

    .s_box {
      width: 50%;
      min-height: 100%;
      position: relative;
      overflow: hidden;
    }

    .s_title {
      position: absolute;
      font-weight: 700;
      font-size: 9vw;
      left: 19.8%;
      top: 7%;
    }

    .s_content {
      position: absolute;
      display: flex;
      width: 100%;
      min-height: 100%;
      z-index: 2;
    }

    .s2_img{
      background-position: center;
      background-size: cover;
      max-width: 626px;
      width: 100%;
      height: 512px;
      margin-top: 30px;
    }

    .s2_spacer{
      width: 10vw;
    }

    .bc_square {
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: #F6F6F6;
      z-index: -1;

    }

    .absolute_box {
      margin: auto;
      padding-left: 3vw;
    }

    .temp_flex {
      display: flex;
      position: relative;
      width: 100%;
    }

    .box_1 {
      width: 34%;
      min-height: 515px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .box_2 {
      width: 66%;
      position: relative;
    }

    .absolute_box div {
      width: 100%;
      font-size: 48px;
      font-weight: 500;
      line-height: 50px;
    }

    .desk_pad {
      margin-left: 10vw;
      margin-top: 100px;
      font-size: 60px;
      text-transform: uppercase;
      font-weight: 700;
      max-width: 725px;
    }

    .no_margin{
        margin: unset !important;
    }

    .desk_pad p {
      margin: 0px 0px 0px 0px;
    }

    .desk_pad i {
      font-style: normal;
      color: #95C11F;
    }

    .top_line {
      position: absolute;
      top: 0%;
      width: 97px;
      border-top: 4px solid #95C11F;
      z-index: 5;
    }

    .desc_1 {
      font-size: 18px;
      font-weight: 300;
      text-transform: none;
    }

    .desc_2 {
        font-size: 18px;
        max-width: 497px;
        font-weight: 300;
        text-transform: none;
      }

    .desc_3 {
        font-size: 18px;
        width: 100%;
        max-width: 686px;
        font-weight: 300;
        text-transform: none;
      }

    .desc_3-img1{
       background-position: center;
       background-size: cover;
       max-width: 527px;
       width: 100%;
       min-height: 350px;
       margin-bottom: 16px;

    }

    .desc_3-img2{
       background-position: center;
       background-size: cover;
       max-width: 800px;
       width: 100%;
       min-height: 350px;
       margin-bottom: 16px;
    }

    .custom_flex{
      display: flex;
      width: 100%;
    }
    .custom_box-1{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      max-width: 1063px;
    }
    .custom_box-2{
      width: 100%;
      max-width: 700px;
    }
    .map_box{
      max-width:700px;
      width: 100%;
      height: 610px;
    }

    .desc_5 {
      font-size: 18px;
      font-weight: 300;
      text-transform: none;
    }

   .ruton_padding {
        padding-left: 11vw;
        padding-right: 11vw;
      }

    .ruton_tile {
      min-height: 340px;
      margin-bottom: 42px;
    }

    .ruton_tile .content {
      position: relative;
      margin-top: 60px;
      padding-left: 3vw;
    }

    .content h1 {
      padding-top: 30px;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      max-width: 331px;
    }

    .content p {
      margin: 0px 0px 0px 0px;
      font-size: 18px;
    }

    .tile_circle {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0%;
      top: -50px;
      width: 160px;
      height: 160px;
      border-radius: 50% 0px 50% 50%;
      background-color: white;
    }

    .circle_icon {
      width: 73px;
      height: 73px;
    }

    .content .top_line {
      margin-left: 40px;
    }

    .info_2{
        position: absolute;
        width: 100%;
        height: 100%;
        top: -75px;
    }

    .info_item{
        width: 268px;
        min-height: 500px;
        display: flex;
        flex-flow: column wrap;
    }

    .info_bc{
        width: 100%;
        height: 67%;
        background-position: center;
        background-size: cover;
    }
    .info_text{
        display: flex;
        width: 100%;
        height: 33%;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 15px;
        background-color: #95C11F;
    }

    .info_text p{
        font-size: 28px;
        font-weight: 600;
        text-align: right;
        color: white;
    }

    .ruton_title{
        text-transform: uppercase;
        text-align: center;
        position: relative;
    }

    h1 i {
        font-style: normal;
        color: #95C11F;
      }

    .title_offset{
      position: absolute;
      top: 1%;
      right: 25%;
    }

    .desc_4{
      font-size: 18px;
      max-width: 686px;
      text-align: center;
    }

    .call_block{
      position: relative;
      display: flex;
      background-color: #F6F6F6;
      max-width:603px;
      width: 100%;
      height: 162px;

    }
    .call_icon{
       position: absolute;
       width:180px;
       height:166px;
       top: 20px;
       left: -108px;
    }

    .call_number{
      position: absolute;
      left: 120px;
      width: 600px;
      height: 110px;
      font-size: 72px;
      margin: 0px 0px 0px 0px;
      text-align: center;
      font-weight: 500;
    }

    .call_number i {
      font-style: normal;
      font-weight: 700;
    }

    .s2_desc{
      max-width: 44%;
      width: 100%;
      padding-top: 9%;
      padding-left: 8.2vw;
    }

    .s2_desc h1{
      font-size: 24px;
      font-weight: 600;
    }

    .s2_desc p{
      font-size: 18px;
    }

    .scaler{
      min-height:660px;
    }

    .guide_img{
      background-color: rgba(0,0,0,0);
      background-position: 100% center;
      background-size: cover;
      width: 100%;
      height: 600px;
    }

    .guide_box{
      width: 100%;
      display: flex;
    }

    .guide_1{
      padding-left: 52px;
      width: 100%;
      max-width: 767px;
    }
    .guide_bc{
      width: 100%;
      height: 325px;
      background-size: cover;
      background-position: center;
    }

    .guide_1 h1{
      font-size: 48px;
      font-weight: 600;
    }

    .guide_desc{
      width: 100%;
      font-size: 18px;
    }

    .guide_2{
      padding-left: 30px;
      width: 34%;
    }

    .guide_tile{
      display: flex;
      margin-bottom: 24px;
      flex-direction: column;
      width: 100%;
      height: 351px;
    }

    .tile_pic{
      width: 100%;
      height: 60%;
      background-size: cover;
      background-position: center;
    }

    .tile_text{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-transform: uppercase;
      text-align: right;
      padding-right: 10px;
      width: 100%;
      height: 40%;
      background-color: #95C11F;
      color: white;
      font-size: 28px;
      font-weight: 600;
    }

    .guide_button{
      position: relative;
      width: 100%;
      height: 161px;
      overflow-x: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      text-transform: uppercase;
      text-align: right;
      padding-right: 10px;
      background-color: #FDAF2A;
      color: white;
      font-size: 28px;
      font-weight: 600;
      text-decoration: none;
    }
    .guide_button .arrow{
      position: absolute;
      width: 48px;
      height: 48px;
      top: 5px;
      right: 100%;
      transition: 0.4s;
    }

    .guide_button:hover > .arrow{
      right: 3%;
    }

    footer{
      position: relative;
      margin-top: 160px;
      display: flex;
      width: 100%;
      min-height: 266px;
      background-color: #F6F6F6;
    }
    footer .block-1{
    width: 100%;
    max-width: 795px;
    min-height: 100%;
    }
    footer .block-2{
    width: 100%;
    min-height: 100%;
    background-color: #95C11F;
    }

    footer .title{
     position: absolute;
     font-size: 60px;
     color: #95C11F;
     text-transform: uppercase;
     top: -30%;
    }

    @media(max-width: 1600px) {
      .fader .dot_box {
        left: 28% !important;
      }
      .info_item{
          width: 97%;
      }

      .info_text p{
          font-size: 22px;
      }
      .desc_3 {
        max-width: 500px;
        text-align: center;
      }
      .title_offset{
        right: 10%;
      }
      .scaler{
        min-height:680px;
      }
      .s2_desc{
        max-width: 38%;
        padding-left: 4.2vw;
      }
      .tile_text{
        align-items: flex-end;
        font-size: 1.4vw;
       }
       .guide_button{
         font-size: 1.4vw;
       }
    }

    @media(max-width: 1024px) {
      .navbar_ruton {
        display: block;
        min-height: unset;
      }

      .title_offset{
        top: -60px;
      }

      .temp_flex {
        display: block;
      }

      .scaler{
        min-height: 800px;
      }

      .custom_flex{
        display: block;
      }

      .custom_box-1{
        justify-content: center;
      }

      .custom_box-2{
        display: flex;
        justify-content: center;
        max-width: unset;
      }

      .temp_flex div {
        width: 100%;
      }

      .desc_3 {
        max-width: 620px;
      }

      .fader .dot_box {
        left: 10% !important;
      }

      .info_2{
          position: static;
      }

      .info_item{
          width: 98%;
          margin: 10px 10px 10px 0px;
      }

      .info_text p{
        font-size: 28px;
      }

      .absolute_box div {
        font-size: 4vw;
        line-height: 5vw;
      }

      p .subpage_link {
        font-size: unset;
      }

      .fader {
        min-height: 630px;
      }

      .subpage_line {
        left: 0%;
      }

      .navbar_section {
        padding-top: 15px;
        width: 100%;
        min-height: 10px;
      }

      .navbar_list {
        display: block;
        height: 0px;
        transition: 0.4s;
      }

      .desk_pad {
        font-size: 6.2vw;
        width: 90% !important;
      }

      .desc_3-img1{
        max-width: 526px;
        min-height: 300px;
 
     }
 
     .desc_3-img2{
        max-width: 526px;
        min-height: 300px;
     }
     .s2_spacer{
      width: 5vw;
     }
     .s2_img{
       max-width: 490px;
       height: 400px;
     }
     .s2_desc{
       max-width: 100%;
       padding-top: 1%;
     }
     .s2_desc p{
      font-size: 16px;
     }
     .scaler .Slides{
       display: block;
     }
    }

    @media(max-width:500px) {
      .navbar_logo img {
        width: 100%;
      }

      .call_number{
        position: absolute;
        text-align: right;
        right: 0px;
        padding-right: 10px;
        left: unset;
        width: 80%;
        font-size: 7vw;
      }

      .call_icon{
        position: absolute;
        width:120px;
        height:166px;
        top: unset;
        left: unset;
     }

      .content p {
        font-size: 16px;
      }

      .fader {
        min-height: 480px;
      }

      .scaler{
        min-height: 1072px;
      }
      .scaler .dot_box{
        left: unset;
      }

      .s_content {
        display: block;
      }

      .call_block{
        padding: 0px 6px 0px 6px;
      }

      .s_box {
        height: 186px;
        overflow: visible;
      }

      .Slides {
        background-size: contain;
        background-position: top;
        background-color: white;
      }

      .absolute_box {
        padding-left: 17vw;
      }

      .fader .dot_box {
        left: 18% !important;
      }

      .fader .dot {
        background-color: #FDAF2A;
      }

      .desk_pad {
        margin-left: 0px;
      }

      .desc_1 {
        font-size: 16px;
      }

      .ruton_title{
        font-size: 6.2vw;
      }
      .title_offset{
        position: relative;
        top: 1%;
        right: 0%;
      }
      .map_box{
        height: 360px;
      }

      .guide_box{
        display: block;
      }

      .guide_img{
        background-position: 75% center;
        height: 400px;
      }

      .guide_1{
        padding-left: 0px;
      }

      .guide_1 h1{
        font-size: 32px;
      }
      .guide_2{
        padding-left: 0px;
        width: 100%;
      }
      .tile_text{
        font-size: 28px;
      }
      .guide_button{
        font-size: 28px;
      }
    }
    @media(max-width:350px){
      .scaler{
        min-height: 1124px;
      }
    }