
    
    /*.main-page{
      transform:scale(0.75);
      margin-top: -1017px;
      margin-bottom: -1017px;
    }*/

    body{
      transform: scale(0.75);
      transform-origin: 50% 0;
    }*

    section{
      position: relative;
    }

    .navbar_ruton {
      width: 100%;
      min-height: 120px;
      display: flex;
      position: fixed;
      padding-left: 9vw;
      padding-right: 9vw;
      z-index: 200;
      background-color: white;
    }

    .rodo_collapse{
      color:white;
      font-weight:400;
      cursor: pointer;
      transition: 0.3s;
    }

    .hov_tile1{
      cursor: pointer;
      transition: 0.3s;
    }

    .hov_tile2 {
      cursor: pointer;
      transition: 0.3s;
    }

    .hov_tile2:hover > .info_text{
      background-color: #FDAF2A;
    }

    .hov_tile1:hover > .bc_square {
      background-color: #dad9d9;
    }

    .hov_tile1:hover > .content .top_line {
      width: 200px;
    }

    .rodo_collapse:hover{
         color: #FDAF2A;
    }

    .navbar_section {
      display: flex;
      width: 50%;
      min-height: 120px;
      background-color: white;
    }

    .sep_slider{
      padding-top: 60px;
    }

    .navbar_spacer {
      width: 100%;
      /*height: 140px;*/
      height: 100px;
    }

    .navbar_list {
      display: flex;
      align-items: center;
      overflow-y: hidden;
      width: 100%;
    }

    .navbar_list p {
      position: relative;
      opacity: 1;
      padding: 0px 14px 0px 14px;
      font-weight: 600;
    }

    p .subpage_link {
      text-decoration: none;
      letter-spacing: 0px;
      color: black;
      text-transform: uppercase;
      transition: 0.5s;
      font-size: 0.84vw
    }

    .navbar_list p:hover>.subpage_link {
      color: #2B2171;
    }

    .active{
      color: #2B2171 !important;
      text-decoration: underline !important;
    }

    .navbar_list p:hover>.subpage_line {
      border-bottom: 3px solid #2B2171;
      width: 83%;
      opacity: 1.0;
    }

    .subpage_line {
      position: absolute;
      transition: 0.5s;
      width: 0%;
      opacity: 0.0;
      border-bottom: 3px solid black;
      bottom: 0%;
      left: 8%;
    }

    .navbar_toggler {
      opacity: 0.8;
      width: 48px;
      height: 48px;
      background: none;
      border-radius: 7px;
      border: none;
      transition: 0.3s;
      border-color: white;
      border: 3px solid white;
    }

    .navbar_toggler:focus {
      border: 3px solid black;
    }

    .navbar_bars {
      width: 26px;
      height: 26px;
    }

    .navbar_logo {
      display: flex;
      align-items: center;
      width: 90%;
      height: 70px;
      margin-right: 12px;
    }

    .navbar_logo img {
      max-height: 80%;
    }

    .btn_ruton {
      min-width: 260px;
      height: 43px;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      cursor: pointer;
      font-weight: 500;
      font-size: 18px;
      padding: 0px 35px 0px 35px;
      border: none;
      border-radius: 25px;
      font-family: 'Montserrat', sans-serif;
      background-color: #FDAF2A;
      transition: 0.4s;
      margin-left: 0px;
    }

    .btn_ruton:hover {
      color: white;
      min-width: 282px;
    }

    .mask {
      background-color: white;
      mix-blend-mode: screen;
      position: relative;
      min-height: 101%;
      width: 100%;
    }

    .white-bg {
      height: 100%;
      width: 50%;
      position: absolute;
      mix-blend-mode: difference;
      top: 0;
      background-color: white;
    }

    .Slides {
      display: flex;
      background-size: 80% 110%;
      background-position: left;
      background-repeat: repeat-x;
    }
    .fill_right{
      position: absolute;
      width: 32px;
      height: 100%;
      background-color: white;
      right: -1%;

    }
    
    .s_box {
      width: 50%;
      min-height: 100%;
      position: relative;
      overflow: hidden;
    }

    .s_title {
      position: absolute;
      font-weight: 700;
      font-size: 8vw;
      left: -5px;
      top: 7%;
      width: 100%;
      text-align: center;
    }
    #slider-square{
      width:128px;
      height:128px;
      top:2%;
      left:66%;
    }

    .s_content {
      position: absolute;
      display: flex;
      width: 100%;
      min-height: 100%;
      z-index: 2;
    }

    .s2_img{
      background-position: center;
      background-size: cover;
      max-width: 626px;
      width: 100%;
      height: 512px;
      margin-top: 30px;
    }

    .s2_spacer{
      width: 10vw;
    }

    .bc_square {
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: #F6F6F6;
      z-index: -1;

    }

    .absolute_box {
      margin: auto;
      padding-left: 3vw;
      min-width: 530px;
    }

    .temp_flex {
      display: flex;
      position: relative;
      width: 100%;
    }

    .box_1 {
      width: 34%;
      min-height: 515px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .box_2 {
      width: 66%;
      position: relative;
    }

    .absolute_box div {
      width: 100%;
      font-size: 48px;
      font-weight: 500;
      line-height: 50px;
    }

    .desk_pad {
      margin-left: 10vw;
      margin-top: 100px;
      font-size: 60px;
      text-transform: uppercase;
      font-weight: 700;
      max-width: 725px;
    }

    .no_margin{
        margin: unset !important;
    }

    .desk_pad p {
      margin: 0px 0px 0px 0px;
    }

    .desk_pad i {
      font-style: normal;
      color: #95C11F;
    }

    .top_line {
      position: absolute;
      top: 0%;
      width: 97px;
      border-top: 4px solid #95C11F;
      z-index: 5;
    }

    .desc_1 {
      font-size: 18px;
      font-weight: 300;
      text-transform: none;
    }

    .desc_2 {
        font-size: 18px;
        max-width: 497px;
        font-weight: 300;
        text-transform: none;
      }

    .desc_3 {
        font-size: 18px;
        width: 100%;
        max-width: 686px;
        font-weight: 300;
        text-transform: none;
      }

    .desc_3-img1{
       background-position: center center;
       background-size: cover;
       max-width: 527px;
       width: 100%;
       min-height: 350px;
       margin-bottom: 16px;

    }

    .desc_3-img2{
       background-position: center center;
       background-size: cover;
       max-width: 800px;
       width: 100%;
       min-height: 350px;
       margin-bottom: 16px;
    }

    .custom_flex{
      display: flex;
      width: 100%;
    }
    .custom_box-1{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      max-width: 1063px;
    }
    .custom_box-2{
      width: 100%;
      max-width: 700px;
    }
    .map_box{
      max-width:700px;
      width: 100%;
      height: 610px;
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: 0.3s;
      cursor: pointer;
    }
    .map_box:hover{
      opacity: 0.5;
    }

    .desc_5 {
      font-size: 18px;
      font-weight: 300;
      text-transform: none;
    }

   .ruton_padding {
        padding-left: 11vw;
        padding-right: 11vw;
      }

    .ruton_tile {
      height: 400px;
      margin-bottom: 42px;
    }

    .ruton_tile .content {
      position: relative;
      margin-top: 60px;
      padding-left: 3vw;
    }

    .content h1 {
      padding-top: 30px;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      max-width: 331px;
    }

    .content p {
      margin: 0px 0px 0px 0px;
      font-size: 18px;
    }

    .tile_circle {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0%;
      top: -50px;
      width: 160px;
      height: 160px;
      border-radius: 50% 0px 50% 50%;
      background-color: white;
    }

    .circle_icon {
      width: 73px;
      height: 73px;
    }

    .content .top_line {
      margin-left: 40px;
      transition: 0.3s;
    }

    .info_2{
        position: absolute;
        width: 100%;
        height: 100%;
        top: -75px;
    }

    .info_item{
        width: 268px;
        min-height: 500px;
        display: flex;
        flex-flow: column wrap;
    }

    .info_bc{
        width: 100%;
        height: 67%;
        background-position: center center;
        background-size: cover;
        background-attachment: scroll;
    }
    .info_text{
        display: flex;
        width: 100%;
        height: 33%;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 15px;
        background-color: #95C11F;
        transition: inherit;
    }

    .info_text p{
        font-size: 28px;
        font-weight: 600;
        text-align: right;
        color: white;
    }

    .ruton_title{
        text-transform: uppercase;
        text-align: center;
        position: relative;
    }

    h1 i {
        font-style: normal;
        color: #95C11F;
      }

      h2 i {
        font-style: normal;
        color: #95C11F;
      }

    .title_offset{
      position: absolute;
      top: 1%;
      right: 25%;
    }

    .desc_4{
      font-size: 18px;
      max-width: 686px;
      text-align: center;
    }

    .call_block{
      position: relative;
      display: flex;
      background-color: #F6F6F6;
      max-width:603px;
      width: 100%;
      height: 162px;
      align-items: flex-end;

    }
    .call_icon{
      position: absolute;
      width: 160px;
      top: 20px;
      left: -80px;
    }

    .call_number{
      position: absolute;
      color: black;
      transition: 0.3s;
      text-decoration: none;
      left: 100px;
      width: 600px;
      height: 110px;
      font-size: 60px;
      margin: 0px 0px 0px 0px;
      text-align: center;
      font-weight: 500;
    }

    .call_number i {
      font-style: normal;
      transition: 0.3s;
      font-weight: 700;
    }

    .call_number:hover > i {
      color: #95C11F;
    }

    .s2_desc{
      max-width: 44%;
      width: 100%;
      padding-top: 9%;
      padding-left: 8.2vw;
    }

    .s2_desc h1{
      font-size: 24px;
      font-weight: 600;
    }

    .s2_desc p{
      font-size: 18px;
    }

    .scaler{
      min-height:660px;
    }

    .guide_img{
      background-color: rgba(0,0,0,0);
      background-repeat: no-repeat;
      background-position: 400% -120px;
      background-size: cover;
      width: 100%;
      height: 600px;
    }

    .guide_box{
      width: 100%;
      display: flex;
    }

    .guide_1{
      width: 100%;
      max-width: 767px;
    }
    .guide_bc{
      width: 100%;
      height: 325px;
      background-size: cover;
      background-position: center center;
    }

    .guide_1 h1{
      font-size: 48px;
      font-weight: 600;
    }

    .guide_desc{
      width: 100%;
      font-size: 18px;
    }

    .guide_2{
      padding-left: 30px;
      width: 34%;
    }

    .guide_tile{
      display: flex;
      text-decoration: none !important;
      margin-bottom: 24px;
      flex-direction: column;
      width: 100%;
      height: 351px;
      transition: 0.3s;
    }

    .tile_pic{
      width: 100%;
      height: 60%;
      background-size: cover;
      background-position: center center;
    }

    .guide_tile:hover > .tile_text{
      background-color: #FDAF2A;
    }

    .tile_text{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-transform: uppercase;
      text-align: right;
      padding-right: 10px;
      width: 100%;
      height: 40%;
      transition: 0.3s;
      background-color: #95C11F;
      color: white;
      font-size: 28px;
      font-weight: 600;
      font-style: normal !important;
    }

    .tile_text i {
      font-style: normal;
    }

    .guide_button{
      position: relative;
      width: 100%;
      height: 161px;
      overflow-x: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      text-transform: uppercase;
      text-align: right;
      padding-right: 10px;
      background-color: #FDAF2A;
      color: white;
      font-size: 28px;
      font-weight: 600;
      text-decoration: none;
    }
    .guide_button .arrow{
      position: absolute;
      width: 48px;
      height: 48px;
      top: 5px;
      right: 100%;
      transition: 0.4s;
    }

    .guide_button:hover > .arrow{
      right: 3%;
    }

    footer{
      position: relative;
      margin-top: 160px;
      display: flex;
      width: 100%;
      min-height: 300px;
      background-color: #F6F6F6;
      padding-left: 5.0vw;
    }
    footer .block-1{
    width: 100%;
    max-width: 720px;
    min-height: 100%;
    }
    footer .block-2{
    width: 100%;
    min-height: 100%;
    background-color: #95C11F;
    padding-right: 5.0vw;
    }

    footer .title{
     position: absolute;
     font-size: 60px;
     color: #95C11F;
     text-transform: uppercase;
     top: -30%;
    }

    .block-1 .f-content{
         display: flex;
         margin-top: 3vw;
         margin-bottom: 2vw;
         max-width: 650px;
         width: 100%;
         min-height: 116px;
    }
    footer .navbar_logo{
      width: 50%;
    }
    .block-2 .f-content{
      width: 100%;
      padding-top: 3vw;
      padding-left: 40px;
      color: white;
    }
    .block-2 .f-content h1{
      font-size: 18px;
      font-weight: 400;
      margin-top: 0px;
      white-space: nowrap;
    }
    .block-2 .f-content a{
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 30px;
      padding-bottom: 10px;
      color: white;
      transition: 0.4s;
    }

    .block-2 .f-content a:hover{
      color: #FDAF2A;
    }

    .footer_contact{
      width: 50%;
      font-weight: 500;
      font-size: 20px;
    }

    .footer_contact a{
      margin: 0px 0px 0px 0px;
      line-height: 16px;
      text-decoration: none;
      color: black;
      transition: 0.4s;
    }

    .footer_contact p{
      margin: 0px 0px 10px 0px;
      line-height: 16px;
      text-decoration: none;
      color: black;
      transition: 0.4s;
    }

    .footer_contact desc{
      display: block;
      font-size: 16px;
      line-height: 16px;
      padding-bottom: 10px;
    }

    .footer_contact a:hover{
      color: #95C11F;
    }

    .social_icon{
      transition: 0.4s;
      width: 55px;
      height: 55px;
      opacity: 0.75;
    }

    .block-2 .f-content a:hover > .social_icon{
      opacity: 1.0;
      transform: scale(1.06);
    }

    .banner{
      width: 100%;
      height: 238px;
      box-shadow: 0px 20px 0px 0px rgb(255, 255, 255);
    }

    .banner_bc{
      position: absolute;
      width: 99%;
      height: 238px;
      background-position: left 40%;
      background-size: 76%;
      background-repeat: repeat-x;
    }

    .banner_title{
      display: flex;
      justify-content: center;
      width:100%;
      font-size: 48px;
      text-transform: uppercase;
    }

    .offer_desc{
      max-width:1438px;
      min-height: 118px;
      width: 100%;
      font-size: 18px;
    }

    .offer_desc p{
      margin: 12px 0px 12px 0px;
    }

    .offer_block-title{
      width: 100%;
      height: 200px;
    }

    .offer_block-title h1{
      position: absolute;
      margin: 0px 0px 0px 0px;
      font-size: 30px;
      text-transform: uppercase;
      max-width: 331px;
      top: 40px;
      left: -150px;
    }

    .offer_block-title h2{
      position: absolute;
      margin: 0px 0px 0px 0px;
      font-size: 30px;
      text-transform: uppercase;
      max-width: 331px;
      top: 40px;
      right: -150px;
    }

    .offer_pic{
     width: 100%;
     max-width: 558px;
     min-height: 515px;
     background-position: center center;
     background-size: cover;
    }

    .btn_offer{
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 309px;
      min-height: 91px;
      background-color: #FDAF2A;
      transition: 0.4s;
      cursor: pointer;
      color: white;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 600;
    }

    .btn_offer:hover{
      background-color: #95C11F;
    }

    .offer_right{
      right: -50%;
    }

    .offer_left{
      left: -50%;
    }

    .self_block-title{
      width: 100%;
      height: 200px;
    }

    .self_block-title h1{
      margin: 55px 0px 0px 0px;
      text-align: right;
      font-size: 60px;
      text-transform: uppercase;
      max-width: 390px;
      top: 40px;
      left: -150px;
    }

    .self_pad-l{
      padding-left:5vw;
    }

    .art_pad-l{
      padding-left:8vw;
    }

    .self_pic{
      width: 100%;
      margin-top: 50px;
      max-width: 875px;
      min-height: 353px;
      background-position: center center;
      background-size: cover;
     }
     .self_pad-r{
      padding-left:5vw;
     }
     .green_square{
       background-color: #95C11F;
       display: block;
       width: 100%;
       height: 40px;
     }

     .btn_self{
      text-decoration: none;
      margin-top: 40px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 309px;
      min-height: 80px;
      background-color: #FDAF2A;
      transition: 0.4s;
      cursor: pointer;
      color: white;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 600;
    }

    .btn_self:hover{
      background-color: #95C11F;
    }

    .blog_block-title{
      width: 100%;
      height: 200px;
    }

    .blog_block-title h1{
      position: absolute;
      margin: 0px 0px 0px 0px;
      font-size: 30px;
      text-transform: uppercase;
      top: 40px;
      left: -150px;
    }

    .blog_block-title h2{
      position: absolute;
      margin: 0px 0px 0px 0px;
      font-size: 30px;
      text-transform: uppercase;
      max-width: 496px;
      top: 40px;
      right: -150px;
    }

    a.btn_blog{
      text-decoration: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 309px;
      min-height: 80px;
      background-color: #FDAF2A;
      transition: 0.4s;
      cursor: pointer;
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-size: 28px;
      font-weight: 600;
    }

    .btn_blog:hover{
      background-color: #95C11F;
    }

    .contact_desc{
      max-width:588px;
      min-height: 118px;
      width: 100%;
      font-size: 18px;
    }

    .contact_header{
      width: 100%;
      max-width: 880px;
    }

    .contact_form{
      width: 100%;
      max-width: 1024px;
      min-height: 636px;
      background-color: #95C11F;
      padding: 34px 6vw 35px 6vw;
      transition: 0.4s;
    }

    input::placeholder{
      text-align: center;
    }

    textarea::placeholder{
      text-align: center;
      font-style: normal;
    }

    textarea { resize: vertical; }

    .form_input{
      font-family: 'Montserrat', sans-serif !important;
      width: 100%;
      height: 46px;
      border: none;
      font-weight: 300;
      font-size: 18px;
      margin-bottom: 15px;
    }

    .form_textarea{
      font-family: 'Montserrat', sans-serif !important;
      width: 100%;
      min-height: 323px;
      border: none;
      font-weight: 300;
      font-size: 18px;
      margin-bottom: 15px;
    }

    .form_textarea:focus-visible{
      outline: none;
    }

    .form_input:focus-visible{
      outline: none;
    }

    p.form_rodo{
      font-family: 'Montserrat', sans-serif !important;
      font-size: 18px;
      font-weight: 200;
      color:white;
      margin: 0px 0px 0px 0px;
      overflow-y: hidden;
      transition: 0.4s;
      height: 100%;
    }

    .form_rodo a{
      text-decoration: none;
      color: white;
      transition: 0.3s;
    }

    .form_rodo a:hover{
      color: #FDAF2A;
    }

    input.form_rodo{
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      width: 22px;
      height: 22px;
      background-color: #95C11F;
      transition: 0.3s;
      border: 2px solid white;
      border-radius: 3px;
      
    }

    input.form_rodo:checked{
      transform: rotate(60deg) translate(-5px,-3px);
      height: 22px;
      border-top-color: #95C11F;
      border-left-color: #95C11F;
      width: 12px;
    }

    input.form_rodo:focus-visible{
      outline: none;
    }

    .btn_form{
      width: 100%;
      max-width: 353px;
      min-height: 79px;
      border: none;
      border-radius: 0px;
      background-color: #FDAF2A;
      color: white;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.4s;
    }

    .btn_form:hover{
      background-color: #95C11F;
    }

    .art_block-title{
      position: relative;
      width: 100%;
      min-height: 200px;
    }

    .art_block-title h1{
      margin: 55px 0px 0px 0px;
      padding-bottom: 100px;
      text-align: left;
      font-size: 60px;
      text-transform: uppercase;
      max-width: 1200px;
      top: 40px;
      left: -150px;
    }

    .number_article{
      position: absolute;
      right: -10px;
      margin: 0px 0px 0px 0px;
      text-align: right;
      font-size: 60px;
      text-transform: uppercase;
      top: -20px;
      left: -150px;
    }

    .art_pic{
      width: 100%;
      max-width: 873px;
      min-height: 353px;
      background-position: center center;
      background-size: cover;
    }
    .art_pic-2{
      width: 100%;
      max-width: 404px;
      min-height: 353px;
      background-position: center center;
      background-size: cover;
    }
    .resize{
      min-height: 1000px !important;
    }
    .slider_padding{
      padding: 0px 125px 0px 125px;
    }
    .slider_box_title{
      width: 100%;
      max-width: 404px;
      min-height: 225px;
      background-color: #F6F6F6;
      padding-top: 24px;
      padding-left: 24px;
    }

    .slider_box_title h1{
      margin: 0px 0px 0px 0px;
      padding-top: 24px;
      position: relative;
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
      max-width: 320px;
    }

    .rodo_box{
      display: flex;
      width: 100%;
    }

    .rodo_resize{
      width: 50% !important;
    }

    .set_height{
      height: 237px;
    }
    #foot-desc a{
      font-weight: 700;
    }
    .slider-title{
      text-transform:uppercase;
      min-height:135px;
    }

    @media(max-width: 1600px) {
      .fader .dot_box {
        left: 28% !important;
      }
      .just_m{
        margin-left: 12px;
      }
      .info_item{
          width: 97%;
      }

      .info_text p{
          font-size: 22px;
      }
      .desc_3 {
        max-width: 500px;
      }
      .title_offset{
        right: 10%;
      }
      .scaler{
        min-height:680px;
      }
      .s2_desc{
        max-width: 38%;
        padding-left: 4.2vw;
      }
      .tile_text{
        align-items: flex-end;
        font-size: 1.4vw;
       }
       .guide_button{
         font-size: 1.4vw;
       }
       .block-2 .f-content h1{
        font-size: 16px;
      }
       .block-2 .f-content a{
        line-height: 20px;
        font-size: 16px;
        white-space: nowrap;
      }
      .md_padding{
        padding-left: 6px;
        padding-right: 6px;
      }
      .art_block-title h1{
        margin: 0px 0px 80px 0px;
        text-align: left;
        top: 0px;
      }
      .art_pad-l{
        padding-left: 2vw;
      }
      .guide_img{
        background-position: 100% center;

      }
      #desc-1{
        padding-right: 16px !important;
      }
    }
    @media(max-width: 1024px) {
      .navbar_ruton {
        display: block;
        min-height: unset;
        box-shadow: 0px 10px 13px -15px #000000;
      }

      .navbar_spacer {
        height: 140px;
      }

      body{
        transform: none
      }

      .offer_block-title h1{
        left: 0px;
      }

      .offer_block-title h2{
        right: 0px;
      }

      .offer_right{
        right: 0%;
      }

      .offer_left{
        left: 0%;
      }

      .ruton_padding{
        padding-left: 5.0vw;
        padding-right: 5.0vw;
      }

      .title_offset{
        top: -60px;
      }

      .temp_flex {
        display: block;
      }

      .scaler{
        min-height: 800px;
      }

      .custom_flex{
        display: block;
      }

      .custom_box-1{
        justify-content: center;
      }

      .custom_box-2{
        display: flex;
        justify-content: center;
        max-width: unset;
      }

      .temp_flex div {
        width: 100%;
      }

      .desc_3 {
        max-width: 800px;
      }

      .fader .dot_box {
        left: 10% !important;
      }

      .info_2{
          position: static;
      }

      .info_item{
          width: 98%;
          margin: 10px 10px 10px 0px;
      }

      .info_text p{
        font-size: 28px;
      }

      .absolute_box{
        min-width: 460px;
      }

      .absolute_box div {
        font-size: 16px;
        line-height: 5vw;
      }

      p .subpage_link {
        font-size: unset;
      }

      .fader {
        min-height: 630px;
      }

      .subpage_line {
        left: 0%;
      }

      .navbar_section {
        padding-top: 15px;
        width: 100%;
        min-height: 10px;
      }

      .navbar_list {
        display: block;
        height: 0px;
        transition: 0.4s;
      }

      .desk_pad {
        font-size: 6.2vw;
        width: 90% !important;
      }

      .desc_3-img1{
        max-width: 526px;
        min-height: 300px;
 
     }
 
     .desc_3-img2{
        max-width: 526px;
        min-height: 300px;
     }
     .s2_spacer{
      width: 5vw;
     }
     .s2_img{
       max-width: 490px;
       height: 400px;
     }
     .s2_desc{
       max-width: 100%;
       padding-top: 1%;
     }
     .s2_desc p{
      font-size: 16px;
     }
     .scaler .Slides{
       display: block;
     }
     .fader .Slides{
      background-size: cover;
      background-position: top;
     }
     footer{
       display: block;
       padding-top: 20px;
       padding-left: 0px;
     }
     footer .title{
      top: -38%;
      font-size: 6.2vw;
     }
     footer .block-1{
       max-width: 920px;
       padding-left: 5.0vw;
     }
     footer .block-2{
       padding-bottom: 20px;
       padding-left: 5.0vw;
       padding-right: 5.0vw;
     }
     .block-2 .f-content{
      padding-left: 0vw;
     }
     .block-2 .f-content a{
      white-space: normal;
     }
     .tab_pad{
       padding-left: 3vw;
       padding-right: 3vw;
     }
     .blog_block-title h1{
      position: relative;
      left: 0px;
     }
      .blog_block-title h2{
      position: absolute;
      margin: 0px 0px 0px 0px;
      font-size: 30px;
      text-transform: uppercase;
      top: 40px;
      right: 0px;
     }
     .art_pad-l{
      padding-left:5vw;
      }
      .slider_padding{
      padding: 0px 65px 0px 65px;
      }
      .footer_contact{
      width: 85%;
      }
      .content h1 {
        font-size: 27px;
      }
      .guide_tile{
        height: 230px;
      }
      #slider-square{
        width:88px;
        height:88px;
      }
      .slider-title{
        width: 72% !important;
        line-height: 20px !important;
      }
    }

    @media(max-width:500px) {
      .navbar_logo img {
        width: 60%;
      }

      .info_bc{
        height: 203px;
      }

      .slider-title{
        width: 100% !important;
        line-height: 16px !important;
      }

      .sep_slider{
        padding-top: 10px;
      }

      .contact_header{
        font-size: 38px;
      }

      .desk_pad {
        width: 100% !important;
      }

      .banner_bc{
        background-size: unset;
        background-position: center;
      }

      .blog_block-title{
        height: 220px;
      }

      .blog_block-title h1{
        font-size: 24px;
      }

      .info_item{
        min-height: 300px;
      }

      .btn_ruton:hover {
        color: white;
        padding: unset;
        margin-left: -7px;
      }

      .blog_block-title h2{
        font-size: 24px;
      }

      .banner{
        background-size: unset;
        background-position: unset;
      }

      .info_text{
        align-items: center;
      }

      .info_text p{
        font-size: 8vw;
      }

      .guide_tile{
        height: 300px;
      }

      .banner_title{
        font-size: 32px;
        padding-top: 30px;
        padding-right: 0px !important;
      }

      .offer_pic{
        min-height: 320px;
        height: 320px;
      }

      .call_number{
        position: static;
        text-align: center;
        right: 0px;
        padding-right: 10px;
        left: unset;
        width: 80%;
        font-size: 7vw;
      }

      .call_icon{
        position: static;
        width:100px;
        height:140px;
        top: unset;
        left: unset;
        padding-right: 14px;
      }
      
      .content h1 {
        font-size: 24px;
      }

      .content p {
        font-size: 16px;
      }

      .fader {
        min-height: 200px;
        overflow:visible;
      }

      .white-bg{
        width: 50%;
        max-height: 400px;
      }

      .scaler{
        min-height: 945px;
      }
      .scaler .dot_box{
        left: unset;
      }
      .call_block{
        padding: 0px 6px 0px 6px;
        background-color: white;
        flex-direction: column;
        align-items: center;
      }
      .s_mob_button{
        position: absolute;
        top: 125%;
        left: 14%;
        z-index: 50;
      }

      .s_box {
        height: 150px;
        overflow: visible;
      }

      .fader .Slides {
        background-position: center;
        background-color: white;
      }

      .absolute_box {
        min-width: unset;
        /*padding-left: 10vw;*/
      }

      .absolute_box div{
        font-size: 16px;
        width: 128px;
        padding-left: 5px;
      }

      .fader .dot_box {
        left: 15% !important;
        top: 115%;
      }

      .fader .dot {
        background-color: #FDAF2A;
      }

      .desk_pad {
        margin-left: 0px;
      }

      .desc_1 {
        font-size: 16px;
      }

      .ruton_title{
        font-size: 6.2vw;
      }
      .title_offset{
        position: relative;
        top: 1%;
        right: 0%;
      }
      .map_box{
        height: 360px;
      }

      .guide_box{
        display: block;
      }

      .guide_img{
        background-position: 75% center;
        height: 400px;
      }

      .guide_1{
        padding-left: 0px;
      }

      .guide_1 h1{
        font-size: 32px;
      }
      .guide_2{
        padding-left: 0px;
        width: 100%;
      }
      .tile_text{
        font-size: 28px;
      }
      .guide_button{
        font-size: 28px;
      }
      .block-1 .f-content{
        display: block;
      }
      .footer_contact{
        font-size: 18px;
        width: 80%;
      }

      footer .title{
        position: static;
        margin-top: 5px;
        margin-bottom: 0px;
      }

      .block-2 .f-content a{
        font-size: 15px;
      }

      .s2_img{
        height: 300px;
      }

      footer .navbar_logo{
        width: 85%;
        margin-bottom: 12px;
      }

      footer .navbar_logo img{
        width: 60%;
      }
      footer .mob_size-12{
        display: block;
        align-items: center;
      }
      .navbar_section{
        padding-top: 5px;
      }
      .self_block-title h1{
        font-size: 40px;
      }

      .art_block-title h1{
        font-size: 31px;
        padding-bottom: 2px;
        line-height: 40px;
      }
      .number_article{
        position: relative;
        right: -10px;
        font-size: 37px;
        top: 0px;
        left: 0px;
        text-align: left;
      }
      .self_pad-l{
        padding-left: 0px;
      }
      .art_pad-l{
        padding-left: 0px;
      }
      .self_pad-r{
        padding-left: 0px;
      }
      .mask{
        position: static;
      }
      .offer_desc{
        font-size: 15px;
      }
      .just_m{
        margin-left: 0px;
      }
      .art_pic-2{
        margin-top: 12px;
      }
      .slider_padding{
        padding: 0px 20px 0px 20px;
      }
      .s_title {
        left: 8px;
        top: 0px;
        font-size: 25px;
      }
      .slider_box_title h1{
        font-size: 25px;
      }
      .rodo_box{
        display: block;
      }
      .rodo_resize{
        width: 100% !important;
      }
      .set_height{
        height: 200px;
      }
      .sep_top-xl{
        padding-top: 20px;
      }
      .sep_bot-xl{
        padding-bottom: 40px;
      }
      .desc_4{
        font-size:16px;
      }
      .mob_foot{
        display: flex !important;
        justify-content: center;
      }
      .tile_circle {
        top: -42px;
        height: 120px;
        width: 120px;
      }
      .scaler{
        min-height: 945px;
      }
      .banner_title{
        font-size: 27px;
        text-align: center;
      }
      .s_title{
        font-size: 30px;
      }
  
    }
    @media(max-width:370px){
      .s_title{
        font-size: 26px;
      }
    }
    @media(max-width:350px){
      .s_mob_button{
        left: 10%;
      }
      .fader .dot_box {
        left: 11% !important;
      }
      .scaler{
        min-height: 1013px;
      }
      .slider-title{
        font-size: 14px !important;
      }
    }